.Search {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 100px;
}

.Search h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.Search form {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos dentro do form quebrem linha quando necessário */
    justify-content: center; /* Centraliza os elementos */
    margin-bottom: 20px;
}

.Search input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    margin-bottom: 10px; /* Espaçamento entre o input e o botão */
}

.Search button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-bottom: 10px; /* Espaçamento entre o botão e o input */
}

.Search button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.Search .results {
    margin-top: 20px;
}

.Search .receita {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.Search .receita h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.Search .receita-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Media queries para ajustar o layout em dispositivos menores */
@media (max-width: 768px) {
    .Search {
        max-width: 100%;
        margin-top: 50px;
        border-radius: 0;
    }

    .Search input[type="text"] {
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .Search button {
        border-radius: 5px;
        margin-bottom: 10px;
    }
}
