.Search {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 100px;
  }
  
  .Search h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .Search form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .Search input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    margin-bottom: 10px;
  }
  
  .SearchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .SearchButton.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  
  .Search .results {
    margin-top: 20px;
  }
  
  .Search .receita {
    display: inline-block; /* Alterado para inline-block */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center; /* Centraliza o conteúdo */
    width: calc(33.33% - 20px); /* Ajuste para ocupar aproximadamente 1/3 da largura */
    margin-right: 20px; /* Espaço entre as receitas */
  }
  
  .Search .receita h2 {
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .Search .receita-img {
    width: 100%;
    max-width: 100%;
    height: 200px; /* Defina a altura desejada */
    object-fit: cover; /* Mantém a proporção da imagem */
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  /* Media queries para ajustar o layout em dispositivos menores */
  @media (max-width: 768px) {
    .Search {
      max-width: 100%;
      border-radius: 0;
    }
  
    .Search .receita {
      width: calc(50% - 20px); /* Ajuste para ocupar aproximadamente metade da largura */
      margin-right: 0;
      margin-bottom: 20px; /* Espaço entre as receitas */
    }
  }
  