#root {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .cabecarios,
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    margin-left: 0;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .menu-icon {
    font-size: 24px;
  }

  .menu01-menu {
    width: 80px;
    font-size: 16px;
  }

  .logo img {
    width: 300px;
  }

  .cabecarios-list {
    flex-wrap: wrap;
  }

  .cabecario {
    margin: 5px;
  }
  .caixa {
    flex-direction: column;
    align-items: stretch;
  }

  .caixa input[type="text"] {
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
  }
}

.caixa {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caixa input[type="text"] {
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 100px;
  width: 250px;
  max-width: 300px;
  height: 25px;
}

.caixa button {
  padding: 5px 10px;
  border-radius: 100px;
  background-color: #ff69b4;
  color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  transition: all 0.3s ease;
  font-size: 14px;
}

button:hover {
  background-color: #ff8dd1;
  transform: scale(1.1);
}

.main {
  background-color: lightpink;
  padding: 20px;
}

.receitas-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  height: auto;
}

.cabecarios {
  background-color: #ffd664;
  padding: 10px;
  margin: 10px;
}

.cabecarios-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cabecario {
  text-align: center;
}

.receita {
  width: auto;
  text-align: center;
}

.receita img {
  display: flex;
  width: 250px;
  height: 300px;
  margin-left: 35px;
  border-radius: 20px;
  margin-top: 50px;
}

.receita img {
  transition: transform 0.3s ease;
}

.receita img:hover {
  transform: scale(1.1);
}

.animação {
  display: block;
  position: relative;
  padding: 0px;
}

.animação::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0.1em;
  background-color: hotpink;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.animação:hover::after,
.animação:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.animação:focus {
  text-underline-offset: 0.4em;
}
a:hover {
  cursor: pointer;
}
