/* Root element styling */
#root {
  background-color: #fff;
}
/* Menu styling */
.menu {
  display: flex;
  margin-left: 20px;
  font-size: 30px;
  width: 500px;
  height: 100px;
}
.menu-icon {
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.content-menu a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 8px 0; /* Espaçamento interno nos itens do menu */
  transition: color 0.3s; /* Transição suave para a cor do texto */
  font-size: 15.5px;
  background-color: #fff;
  padding: 7px;
  margin-left: 10px;
}

/* Estilos para os itens do menu quando hover */
.content-menu a:hover {
  color: #ff69b4; /* Altera a cor do texto ao passar o mouse */
}

/* Estilos para exibir o submenu quando o menu é clicado */
.menu:hover .content-menu {
  display: block; /* Exibe o submenu ao passar o mouse */
  opacity: 1; /* Torna o submenu totalmente visível */
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  background-color: #ffced6;
  padding: 10px;
  text-align: center;
  margin: 10px;
}
.logo img {
  width: 100%;
  max-width: 550px;
  height: auto;
}

/* Estilizando a caixa de pesquisa */
.caixa.search-box {
  margin-left: 50px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

/* Estilizando a entrada de texto da caixa de pesquisa */
.caixa.search-box input[type="text"] {
  margin: 0 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 100px;
  width: 300px;
  height: 35px;
}

/* Estilizando o botão da caixa de pesquisa */
.caixa.search-box button {
  padding: 5px 10px;
  border-radius: 100px;
  background-color: #ff69b4;
  color: white;
  border: none;
  cursor: pointer;
  height: 35px;
  transition: all 0.3s ease;
}

/* Estilizando o botão da caixa de pesquisa quando passa o mouse */
.caixa.search-box button:hover {
  background-color: #ff8dd1;
  transform: scale(1.1);
}


/* Estilizando a barra de navegação */
.cabecarios {
  background-color: #ffd780;
  padding: 10px; 
  margin-left: 10px;
  margin-right: 10px;
}

/* Estilizando os itens da lista de navegação */
.cabecarios-list {
  list-style: none; 
  display: flex; 
  justify-content: space-around; 
  margin-top: 10px;
}

/* Estilizando os links de navegação */
.cabecario a {
  position: relative; 
  text-decoration: none;
  color: black; 
  font-weight: bold; 
  padding: 5px 10px; 
  border-radius: 5px;
  transition: color 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilizando a linha sublinhada */
.cabecario a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0; 
  width: 0;
  height: 2px;
  background-color: #FF69B4;
  transition: width 0.3s;
}


.cabecario a:hover::after {
  width: 100%;
}

/* Estilos para o conteúdo principal */
.main {
  background-color: #fff0f7;
  padding: 20px;
  margin: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* Estilos para as receitas */
.receitas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  margin-left: 50px;
}

.receita {
  padding: 10px;
  margin-right: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s ease;
}

.receita:hover {
  transform: scale(1.1);
}

.receita img {
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

/* Footer styling */
.footer {
  background-color: #ff69b4;
  color: white;
  padding: 20px 0;
  text-align: center; /* Centraliza o conteúdo do footer */
}

.footer h6,
.footer ul,
.footer p {
  margin: 10px; /* Reduz as margens internas para uma aparência mais compacta */
}

.footer ul {
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer ul li {
  list-style: none;
  margin: 0 10px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: none; /* Remove a linha sublinhada ao passar o mouse */
}

.footer img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: transform 0.3s; /* Adiciona uma transição suave ao passar o mouse */
}

.footer img:hover {
  transform: scale(1.1); /* Aumenta ligeiramente o tamanho da imagem ao passar o mouse */
}


/* General text styling */
.text-center {
  text-align: center;
}
.container-footer {
  background-color: #ffced6;
}
p,
h6 {
  font-family: Arial;
  text-shadow: 2px 2px 4px #ff40b6;
}
p {
  font-size: 18px;
  text-align: center;
}
h6 {
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
}

/* List styling */
.list-inline {
  font-family: "stars e love bottom heairy";
}
.list-inline img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

/* Header styling */
.header {
  background-color: #ffd664;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  font-size: 10px;
}
.header-item {
  margin-right: 100px;
}
.menu-label {
  font-size: 25px;
}

/* Link styling */
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #ff69b4;
}
.link-animation {
  display: block;
  position: relative;
  padding: 0;
}
.link-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0.1em;
  background-color: hotpink;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.link-animation:hover::after,
.link-animation:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.link-animation:focus {
  text-underline-offset: 0.4em;
}

/* Banner styling */
.banner {
  margin-top: 10px;
  margin-bottom: 500px;
  margin-left: 250px;
  height: 300px; /* Defina a altura desejada para o carrossel */
  width: 1400px; /* Defina a largura desejada para o carrossel */
}
.banner:hover {
  cursor: pointer;
}
.banner img {
  width: 100%; /* As imagens ocuparão 100% da largura do elemento pai */
  height: 100%; /* As imagens ocuparão 100% da altura do elemento pai */
  object-fit: cover; /* Mantém a proporção da imagem, cobrindo todo o espaço disponível */
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .recipes {
    justify-content: center;
  }
  .recipe {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .search-box input[type="text"] {
    width: 200px;
  }
  .recipe {
    width: calc(50% - 20px);
  }
  .footer h6,
  .footer ul,
  .footer p {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer img {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 576px) {
  .footer h6,
  .footer p {
    text-align: center;
  }
  .footer ul {
    flex-direction: column;
  }
  .footer ul li {
    margin: 5px 0;
  }
}

.obs{
  background-color: #ffced6;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;

}

h5{
  font-size: 50px;
  font-family: "stars e love";
  margin-left: 800px;
}

.sep{
  align-content: center;
}