@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Root element styling */
#root {
  background-color: #fff;
}

/* Menu styling */
.menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  max-width: 500px;
  height: auto;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.content-menu a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 8px 0;
  transition: color 0.3s;
  font-size: 15.5px;
  background-color: #fff;
  padding: 7px;
  margin-left: 10px;
}

.content-menu {
  display: flex;
  flex-direction: column;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transição de opacidade e transformação */
  transform-origin: top; /* Define a origem da transformação para o topo */
  transform: scaleY(0); /* Inicialmente escondido com escala 0 */
}

@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .menu-icon {
    display: block;
  }

  .content-menu {
    display: none;
    flex-direction: column;
  }

  .menu-icon.active + .content-menu {
    display: flex;
    opacity: 1; /* Mostra com opacidade */
    transform: scaleY(1); /* Aumenta a escala para mostrar */
  }
}

@media (max-width: 576px) {
  .menu {
    font-size: 25px;
  }

  .content-menu a {
    font-size: 14px;
    margin-left: 0;
  }
}

/* Estilos para os itens do menu quando hover */
.content-menu a:hover {
  color: #ff69b4;
}

/* Estilos para exibir o submenu quando o menu é clicado */
.menu:hover .content-menu {
  display: block;
  opacity: 1; /* Mostra com opacidade */
  transform: scaleY(1); /* Aumenta a escala para mostrar */
}

/* Aumenta a escala do ícone quando o menu é clicado */
.menu-icon.active {
  transform: scale(1.2); /* Exemplo de aumento de escala */
}


/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffced6;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.logo img {
  width: 80%;
  max-width: 550px;
  height: auto;
}

@media (max-width: 768px) {
  .logo {
    flex-direction: column;
  }

  .logo img {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  .logo {
    padding: 5px;
    margin: 5px;
  }

  .logo img {
    max-width: 90%;
  }
}

/* Estilizando a entrada de texto da caixa de pesquisa */
.caixa.search-box input[type="text"] {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 300px;
  height: 45px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Estilizando o botão da caixa de pesquisa */
.caixa.search-box {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.caixa.search-box a {
  display: inline-block; /* Garante que o <a> ocupa o espaço necessário */
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.caixa.search-box a:hover {
  transform: scale(1.2); /* Aplique a transformação no hover do <a> */
}

@media (max-width: 600px) {
  .caixa.search-box a {
    font-size: 20px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .caixa.search-box a {
    font-size: 22px;
  }
}

@media (min-width: 1025px) {
  .caixa.search-box a {
    font-size: 26px;
  }
}

/* Estilizando a barra de navegação */
.cabecarios {
  background-color: #ffd780;
  padding: 10px;
}

/* Estilizando os itens da lista de navegação */
.cabecarios-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  padding: 0;
}

/* Estilizando os links de navegação */
.cabecario a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s;
  font-family: "Lato", sans-serif;
  font-style: normal;
}

/* Estilizando a linha sublinhada */
.cabecario a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff69b4;
  transition: width 0.3s;
}

.cabecario a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .cabecarios {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .cabecarios-list {
    flex-direction: column;
    align-items: center;
  }

  .cabecario a {
    padding: 10px 15px;
    margin: 5px 0;
  }
}

@media (max-width: 576px) {
  .cabecarios {
    padding: 3px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .cabecarios-list {
    margin-top: 5px;
  }

  .cabecario a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

/* Estilos para o conteúdo principal */
.main {
  background-color: #fff0f7;
  padding: 20px;
  margin: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .main {
    padding: 15px;
    margin: 0 5px;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 10px;
    margin: 0 3px;
  }
}

/* Estilos para as receitas */
.receitas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}

.receita {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s ease;
  max-width: calc(33.333% - 40px);
  box-shadow: #00000015 3px 3px 3px 3px;
  border-radius: 15px;

}

.receita:hover {
  transform: scale(1.05);
}

.receita img {
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .receita {
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .receita {
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
    margin-bottom: 20px;
  }

  @media (max-width: 500px) {
    .receita {
      flex: 1 1 calc(50% - 40px);
      max-width: calc(50% - 40px);
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 576px) {
  .receitas-container {
    margin: 10px;
    gap: 10px;
  }

  .receita {
    flex: 1 1 calc(100% - 20px);
    max-width: calc(100% - 20px);
    margin-bottom: 50px;
  }

  .receita img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
}

/* List styling */
.list-inline {
  font-family: "Lato", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}


/* Header styling */
.header {
  background-color: #ffd664;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 14px;
}

.header-item {
  margin-right: 20px;
}

.menu-label {
  font-size: 20px;
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .header-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menu-label {
    font-size: 18px;
  }
}

/* Link styling */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #ff69b4;
}

.link-animation {
  display: block;
  position: relative;
  padding: 0;
}

.link-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0.1em;
  background-color: hotpink;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.link-animation:hover::after,
.link-animation:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.link-animation:focus {
  text-underline-offset: 0.4em;
}

/* Banner styling */
.banner {
  margin-top: 10px;
  margin-bottom: 420px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 100%;
  max-width: 1400px;
}

.banner:hover {
  cursor: pointer;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .banner {
    height: 250px;
  }
}

@media (max-width: 992px) {
  .banner {
    height: 200px;
    margin-bottom: 300px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 150px;
    margin-bottom: 200px;
  }
}

@media (max-width: 576px) {
  .banner {
    height: 100px;
    margin-bottom: 150px;
  }
}

.tituloReceita {
  margin: 0;
  padding: 0;
}

.tituloReceita p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 18px;
}

.tituloReceita p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  margin: 5px auto;
}

/* Footer styling */
.footer {
  background-color: #ff69b4;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-sizing: border-box;
}

.footer h6,
.footer ul,
.footer p {
  margin: 10px;
  color: #000000;
}

.footer ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer ul li {
  list-style: none;
  margin: 0 10px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: none;
}

.footer img {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: transform 0.3s;
}

.footer img:hover {
  transform: scale(1.1);
}

@media (max-width: 576px) {
  .footer {
    padding: 10px 0;
  }


  .footer h6,
  .footer p {
    margin: 5px;
  }


  .footer ul li {
    margin: 3px 0;
  }


  .footer img {
    height: 25px;
    width: 25px;
  }
}

/* General text styling */
.text-center {
  text-align: center;
}

p,
h5 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  margin: 10px 0;
  text-align: center;
}

p {
  font-size: 18px;
}

h5 {
  font-size: 20px;
}

.container-footer {
  background-color: #ffced6;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container-footer {
    padding: 15px;
  }

  p {
    font-size: 16px;
  }

  h6 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .container-footer {
    padding: 10px;
  }

  p {
    font-size: 14px;
  }

  h5 {
    font-size: 16px;
  }
}

.list-inline li {
  margin: 0 5px;
}

.list-inline img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

@media (max-width: 576px) {
  .list-inline {
    flex-wrap: wrap;
  }

  .list-inline li {
    margin: 5px;
  }
}

/* Media Queries for Responsiveness 
@media (max-width: 1200px) {
  .recipes {
    justify-content: center;
  }

  .recipe {
    width: calc(33.33% - 20px);
  }
}
*/
@media (max-width: 768px) {
  .search-box input[type="text"] {
    width: 200px;
  }

  .recipe {
    width: calc(50% - 20px);
  }

  .footer h6,
  .footer ul,
  .footer p {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer img {
    display: inline-block;
    margin: 0 10px;
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 576px) {

  .footer h5,
  .footer p {
    text-align: center;
  }

  .footer ul {
    flex-direction: column;
  }

  .footer ul li {
    margin: 5px 0;
  }
}

.obs {
  background-color: #ffced6;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

footer h5 {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  text-align: center;
  margin-left: 0;
}

.sep {
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  h5 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  h5 {
    font-size: 25px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.pagination button {
  background-color: #ff0077bb;
  /* cor de fundo padrão */
  border: none;
  outline: none;
  margin: 0 10px;
  padding: 10px;
  border-radius: 15px;
  display: inline-block;
  transition: background-color 0.3s;
  /* animação de transição suave */
}

.pagination button:last-child[disabled] {
  display: none;
}

.pagination button:first-child[disabled] {
  display: none;
}

.pagination button:hover {
  background-color: #c44ef3;
}

.pagination button:active {
  background-color: #b83dd9;
}

.pagination button.selected {
  background-color: #8721a7;
}

.pagination button svg {
  color: white;
}
