/* Root element styling */
#root {
  background-color: #fff;
}
/* Menu styling */
.menu {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens do menu quebrem para a próxima linha se necessário */
  margin-left: 20px;
  font-size: 30px;
  width: 100%; /* Faz o menu ocupar 100% da largura disponível */
  max-width: 500px; /* Limita a largura máxima do menu */
  height: auto; /* Ajusta a altura automaticamente conforme o conteúdo */
}
.menu-icon {
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.content-menu a {
  display: block;
  color: #000000;
  text-decoration: none;
  padding: 8px 0; /* Espaçamento interno nos itens do menu */
  transition: color 0.3s; /* Transição suave para a cor do texto */
  font-size: 15.5px;
  background-color: #fff;
  padding: 7px;
  margin-left: 10px;
}
.content-menu {
  display: flex;
  flex-direction: column; /* Empilha os itens verticalmente por padrão */
}
@media (max-width: 768px) {
  .menu {
    flex-direction: column; /* Empilha os itens verticalmente em telas menores */
  }
  
  .menu-icon {
    display: block; /* Mostra o ícone do menu em telas menores */
  }
  
  .content-menu {
    display: none; /* Esconde o menu por padrão em telas menores */
    flex-direction: column;
  }
  
  .menu-icon.active + .content-menu {
    display: flex; /* Mostra o menu quando o ícone é clicado */
  }
}

@media (max-width: 576px) {
  .menu {
    font-size: 25px; /* Ajusta o tamanho da fonte para telas menores */
  }
  
  .content-menu a {
    font-size: 14px; /* Ajusta o tamanho da fonte dos links do menu */
    margin-left: 0; /* Remove a margem esquerda em telas menores */
  }
}


/* Estilos para os itens do menu quando hover */
.content-menu a:hover {
  color: #ff69b4; /* Altera a cor do texto ao passar o mouse */
}

/* Estilos para exibir o submenu quando o menu é clicado */
.menu:hover .content-menu {
  display: block; /* Exibe o submenu ao passar o mouse */
  opacity: 1; /* Torna o submenu totalmente visível */
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  background-color: #ffced6;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 100%; /* Faz a logo ocupar 100% da largura disponível */
  box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura */
}

.logo img {
  width: 100%;
  max-width: 550px;
  height: auto;
}

@media (max-width: 768px) {
  .logo {
    flex-direction: column; /* Alinha os itens verticalmente em telas menores */
  }

  .logo img {
    max-width: 100%; /* Garante que a imagem ocupe toda a largura disponível em telas menores */
  }
}

@media (max-width: 576px) {
  .logo {
    padding: 5px; /* Reduz o padding em telas muito pequenas */
    margin: 5px; /* Reduz a margem em telas muito pequenas */
  }

  .logo img {
    max-width: 90%; /* Reduz a largura máxima da imagem em telas muito pequenas */
  }
}

/* Estilizando a caixa de pesquisa */
.caixa.search-box {
  margin-left: 50px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza os itens horizontalmente */
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
}

/* Estilizando a entrada de texto da caixa de pesquisa */
.caixa.search-box input[type="text"] {
  margin: 0 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 100px;
  width: 300px;
  height: 35px;
  box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura */
}

/* Estilizando o botão da caixa de pesquisa */
.caixa.search-box button {
  padding: 5px 10px;
  border-radius: 100px;
  background-color: #ff69b4;
  color: white;
  border: none;
  cursor: pointer;
  height: 35px;
  transition: all 0.3s ease;
}

/* Estilizando o botão da caixa de pesquisa quando passa o mouse */
.caixa.search-box button:hover {
  background-color: #ff8dd1;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .caixa.search-box {
    margin-left: 20px;
    margin-right: 10px;
    flex-direction: column; /* Alinha os itens verticalmente em telas menores */
  }

  .caixa.search-box input[type="text"] {
    width: 100%; /* Faz a entrada de texto ocupar toda a largura disponível */
    margin: 5px 0; /* Ajusta a margem para telas menores */
  }

  .caixa.search-box button {
    width: 100%; /* Faz o botão ocupar toda a largura disponível */
    margin: 5px 0; /* Ajusta a margem para telas menores */
  }
}

@media (max-width: 576px) {
  .caixa.search-box {
    margin-left: 10px;
    margin-right: 10px;
  }

  .caixa.search-box input[type="text"] {
    width: calc(100% - 20px); /* Ajusta a largura da entrada de texto para telas muito pequenas */
  }

  .caixa.search-box button {
    width: calc(100% - 20px); /* Ajusta a largura do botão para telas muito pequenas */
  }
}

/* Estilizando a barra de navegação */
.cabecarios {
  background-color: #ffd780;
  padding: 10px; 
  margin-left: 10px;
  margin-right: 10px;
}

/* Estilizando os itens da lista de navegação */
.cabecarios-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 10px 0; /* Ajusta a margem superior e inferior */
  padding: 0; /* Remove o padding padrão */
}

/* Estilizando os links de navegação */
.cabecario a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilizando a linha sublinhada */
.cabecario a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0; 
  width: 0;
  height: 2px;
  background-color: #FF69B4;
  transition: width 0.3s;
}


.cabecario a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .cabecarios {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .cabecarios-list {
    flex-direction: column; /* Empilha os itens verticalmente em telas menores */
    align-items: center; /* Centraliza os itens verticalmente */
  }

  .cabecario a {
    padding: 10px 15px; /* Aumenta o padding para melhor usabilidade em telas sensíveis ao toque */
    margin: 5px 0; /* Adiciona margem entre os itens */
  }
}

@media (max-width: 576px) {
  .cabecarios {
    padding: 3px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .cabecarios-list {
    margin-top: 5px; /* Reduz a margem superior em telas muito pequenas */
  }

  .cabecario a {
    padding: 8px 12px; /* Ajusta o padding para telas muito pequenas */
    font-size: 14px; /* Reduz o tamanho da fonte para melhor ajuste */
  }
}

/* Estilos para o conteúdo principal */
.main {
  background-color: #fff0f7;
  padding: 20px;
  margin: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
}

@media (max-width: 768px) {
  .main {
    padding: 15px; /* Reduz o padding para telas menores */
    margin: 0 5px; /* Ajusta as margens para telas menores */
  }
}

@media (max-width: 576px) {
  .main {
    padding: 10px; /* Reduz ainda mais o padding para telas muito pequenas */
    margin: 0 3px; /* Ajusta as margens para telas muito pequenas */
  }
}

/* Estilos para as receitas */
.receitas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Alinha os itens ao centro */
  margin: 20px;
  gap: 20px; /* Adiciona espaço entre os itens */
}

.receita {
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s ease;
  flex: 1 1 calc(33.333% - 40px); /* Ocupa um terço da linha com espaço */
  max-width: calc(33.333% - 40px);
}

.receita:hover {
  transform: scale(1.1);
}

.receita img {
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .receita {
    flex: 1 1 calc(50% - 40px); /* Ocupa metade da linha em telas médias */
    max-width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .receita {
    flex: 1 1 calc(100% - 40px); /* Ocupa toda a linha em telas pequenas */
    max-width: calc(100% - 40px);
    margin-bottom: 20px; /* Ajusta a margem inferior */
  }
}

@media (max-width: 576px) {
  .receitas-container {
    margin: 10px;
    gap: 10px;
  }

  .receita {
    flex: 1 1 calc(100% - 20px); /* Ocupa toda a linha em telas muito pequenas */
    max-width: calc(100% - 20px);
    margin-bottom: 10px; /* Ajusta a margem inferior */
  }

  .receita img {
    width: 100%;
    height: auto;
    border-radius: 15px; /* Ajusta o raio da borda para telas pequenas */
  }
}

/* Footer styling */
.footer {
  background-color: #ff69b4;
  color: white;
  padding: 20px 0;
  text-align: center; /* Centraliza o conteúdo do footer */
}
.footer {
  background-color: #ff69b4;
  color: white;
  padding: 20px 0;
  text-align: center; /* Centraliza o conteúdo do footer */
  box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
}

.footer h6,
.footer ul,
.footer p {
  margin: 10px; /* Reduz as margens internas para uma aparência mais compacta */
}

.footer ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
  justify-content: center;
}

.footer ul li {
  list-style: none;
  margin: 0 10px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: none; /* Remove a linha sublinhada ao passar o mouse */
}

.footer img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: transform 0.3s; /* Adiciona uma transição suave ao passar o mouse */
}

.footer img:hover {
  transform: scale(1.1); /* Aumenta ligeiramente o tamanho da imagem ao passar o mouse */
}

@media (max-width: 576px) {
  .footer {
    padding: 10px 0; /* Ajusta ainda mais o padding para telas muito pequenas */
  }

  .footer h6,
  .footer p {
    margin: 5px; /* Reduz as margens para telas muito pequenas */
  }

  .footer ul li {
    margin: 3px 0; /* Adiciona menos margem vertical entre os itens */
  }

  .footer img {
    height: 25px; /* Ajusta o tamanho da imagem para telas muito pequenas */
    width: 25px;
  }
}

/* General text styling */
.text-center {
  text-align: center;
}

.container-footer {
  background-color: #ffced6;
  padding: 20px; /* Adiciona padding para garantir espaço interno */
  box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
}

p,
h6 {
  font-family: Arial;
  text-shadow: 2px 2px 4px #ff40b6;
  margin: 10px 0; /* Define margens verticais para espaçamento */
  text-align: center; /* Centraliza o texto */
}

p {
  font-size: 18px;
}

h6 {
  font-size: 20px;
  text-shadow: 2px 2px 4px #000;
}

@media (max-width: 768px) {
  .container-footer {
    padding: 15px; /* Ajusta o padding para telas menores */
  }

  p {
    font-size: 16px; /* Ajusta o tamanho da fonte para telas menores */
  }

  h6 {
    font-size: 18px; /* Ajusta o tamanho da fonte para telas menores */
  }
}

@media (max-width: 576px) {
  .container-footer {
    padding: 10px; /* Ajusta ainda mais o padding para telas muito pequenas */
  }

  p {
    font-size: 14px; /* Ajusta o tamanho da fonte para telas muito pequenas */
  }

  h6 {
    font-size: 16px; /* Ajusta o tamanho da fonte para telas muito pequenas */
  }
}


/* List styling */
.list-inline {
  font-family: "stars e love bottom heairy";
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  margin: 0; /* Remove as margens padrão */
  padding: 0; /* Remove o padding padrão */
  list-style: none; /* Remove os marcadores da lista */
}

.list-inline li {
  margin: 0 5px; /* Adiciona margem entre os itens */
}

.list-inline img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

@media (max-width: 576px) {
  .list-inline {
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas muito pequenas */
  }

  .list-inline li {
    margin: 5px; /* Adiciona margem entre os itens para melhor espaçamento em telas pequenas */
  }
}


/* Header styling */
.header {
  background-color: #ffd664;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinha os elementos espaçados horizontalmente */
  padding: 10px 20px; /* Adiciona padding para espaçamento interno */
  box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
  font-size: 14px; /* Ajusta o tamanho da fonte */
}

.header-item {
  margin-right: 20px; /* Reduz a margem entre os itens */
}

.menu-label {
  font-size: 20px; /* Ajusta o tamanho da fonte do rótulo do menu */
}

@media (max-width: 576px) {
  .header {
    flex-direction: column; /* Empilha os elementos verticalmente em telas pequenas */
    align-items: flex-start; /* Alinha os elementos à esquerda em telas pequenas */
    padding: 10px; /* Ajusta o padding para telas pequenas */
  }

  .header-item {
    margin-right: 0; /* Remove a margem direita para empilhar os itens verticalmente */
    margin-bottom: 10px; /* Adiciona margem inferior entre os itens em telas pequenas */
  }

  .menu-label {
    font-size: 18px; /* Ajusta o tamanho da fonte do rótulo do menu para telas pequenas */
  }
}


/* Link styling */
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #ff69b4;
}
.link-animation {
  display: block;
  position: relative;
  padding: 0;
}
.link-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0.1em;
  background-color: hotpink;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.link-animation:hover::after,
.link-animation:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}
.link-animation:focus {
  text-underline-offset: 0.4em;
}

/* Banner styling */
.banner {
  margin-top: 10px;
  margin-bottom: 500px; /* Reduzi a margem inferior para ser mais responsiva */
  margin-left: auto;
  margin-right: auto; /* Centraliza o banner horizontalmente */
  height: 300px; /* Altura desejada para o carrossel */
  width: 100%; /* Faz o banner ocupar 100% da largura disponível */
  max-width: 1400px; /* Limita a largura máxima do banner */
}
.banner:hover {
  cursor: pointer;
}
.banner img {
  width: 100%; /* As imagens ocuparão 100% da largura do elemento pai */
  height: 100%; /* As imagens ocuparão 100% da altura do elemento pai */
  object-fit: cover; /* Mantém a proporção da imagem, cobrindo todo o espaço disponível */
}
@media (max-width: 1200px) {
  .banner {
    height: 250px; /* Ajusta a altura para telas menores */
  }
}

@media (max-width: 992px) {
  .banner {
    height: 200px; /* Ajusta a altura para telas menores */
    margin-bottom: 300px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 150px; /* Ajusta a altura para telas menores */
    margin-bottom: 200px;
  }
}

@media (max-width: 576px) {
  .banner {
    height: 100px; /* Ajusta a altura para telas menores */
    margin-bottom: 100px;
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .recipes {
    justify-content: center;
  }
  .recipe {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .search-box input[type="text"] {
    width: 200px;
  }
  .recipe {
    width: calc(50% - 20px);
  }
  .footer h6,
  .footer ul,
  .footer p {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer img {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 576px) {
  .footer h6,
  .footer p {
    text-align: center;
  }
  .footer ul {
    flex-direction: column;
  }
  .footer ul li {
    margin: 5px 0;
  }
}

.obs {
  background-color: #ffced6;
  margin: 10px; /* Simplifica as margens em todos os lados */
  padding: 20px; /* Adiciona padding para espaçamento interno */
  box-sizing: border-box; /* Inclui padding e bordas no cálculo da largura */
}

h5 {
  font-size: 40px; /* Reduz o tamanho da fonte */
  font-family: "stars e love";
  text-align: center; /* Centraliza o texto */
  margin-left: 0; /* Remove a margem lateral */
}

.sep {
  text-align: center; /* Centraliza o texto */
  margin-left: 0; /* Remove a margem lateral */
}

@media (max-width: 768px) {
  h5 {
    font-size: 30px; /* Ajusta o tamanho da fonte para telas menores */
  }

  .sep {
    margin-top: 10px; /* Adiciona margem superior para separador em telas menores */
  }
}

@media (max-width: 576px) {
  h5 {
    font-size: 25px; /* Ajusta ainda mais o tamanho da fonte para telas muito pequenas */
  }
}
