:root {
  background-color: #fff;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}

.profileUserContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
}

.profileUser {
  width: 90%;
  max-width: 800px; /* Aumente a largura máxima conforme desejado */
  margin: 20px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.profileUser:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.tituloPerfil {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.nameUser h3 {
  font-size: 20px;
  color: #444;
  margin-bottom: 10px;
}

.descriptionUser h3 {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.descriptionUser p {
  font-size: 16px;
  color: #777;
  margin-bottom: 5px;
}

.dadoUser h3 {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.dadoUser ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dadoUser li {
  font-size: 16px;
  color: #777;
  margin-bottom: 5px;
}

.profileUser img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
}

p {
  font-size: 15px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-style: normal;
  text-shadow: none;
}

/* Media Query para telas menores que 768px */
@media (max-width: 768px) {
  .profileUser {
    width: 95%;
    max-width: 600px; /* Ajuste a largura máxima para telas menores */
  }

  .tituloPerfil {
    font-size: 30px;
  }

  .descriptionUser h3,
  .dadoUser h3 {
    font-size: 16px;
  }

  .descriptionUser p,
  .dadoUser li {
    font-size: 14px;
  }
}

/* Media Query para telas menores que 576px */
@media (max-width: 576px) {
  .profileUser {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
  }

  .tituloPerfil {
    font-size: 24px;
  }

  .descriptionUser h3,
  .dadoUser h3 {
    font-size: 14px;
  }

  .descriptionUser p,
  .dadoUser li {
    font-size: 12px;
  }
}

.arrowIcon {
  margin-left: 10px;
}

.Carregamento {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.Carregamento .fa-spinner {
  font-size: 4rem;
  color: #666;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
